.messenger {
  height: 80vh;
}

.grid-container {
  height: 100%;
  max-width: 100%;
}

.message-list {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  height: 90%;
  padding: 20px;
  width: calc(100% - 25px);
  overflow-y: scroll;
}
