.messenger{
  height: 80vh;
}

.grid-container{
  height: 100%;
}

.message-list{
  display: flex;
  flex-direction: column;
  background-color: bisque;
  height: 90%;
  padding: 20px;
  width: calc(100% - 40px);
  overflow-y: scroll;
}